# Default ignored files
/shelf/
/workspace.xml
.idea/
.terraform/
.terraform.lock.hcl
*.zip
terraform-*.out
ca.crt
.vscode/
.DS_Store
**/dist
**/.zip
**/.DS_Store
**/node_modules
**/package
**/package-lock.json
**/.pyc
**/lib
/deployment/open-source/
source/tests/__pycache__/
source/log_parser/__pycache__/
deployment/global-s3-assets/
deployment/regional-s3-assets/

# coverage
**/coverage
**/package
*coverage*
